<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <context-param>
    <description>项目名称</description>
    <param-name>server_name</param-name>
    <param-value>shopadmin</param-value>
  </context-param>
  <context-param>
    <description>项目标题</description>
    <param-name>title</param-name>
    <param-value>商城后台管理系统</param-value>
  </context-param>
  <context-param>
    <description>企业名称</description>
    <param-name>enterprise</param-name>
    <param-value>上青互联网科技有限公司</param-value>
  </context-param>
  <context-param>
    <description>版权所有</description>
    <param-name>copyright</param-name>
    <param-value>上青互联网科技有限公司@版权所有</param-value>
  </context-param>
  <context-param>
    <description>是否校验用户登录</description>
    <param-name>login_validata_is_open</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>当用户未登录操作时，转向的登录界面地址</description>
    <param-name>login_url</param-name>
    <param-value>/login.jsp</param-value>
  </context-param>
  <context-param>
    <description>运行系统(windows,linux)</description>
    <param-name>system</param-name>
    <param-value>windows</param-value>
  </context-param>
  <context-param>
    <description>windows用户文件存放基本目录</description>
    <param-name>windows.fileupload.path</param-name>
    <param-value>c://framework_fileupload_path</param-value>
  </context-param>
  <context-param>
    <description>linux用户文件存放基本目录</description>
    <param-name>linux.fileupload.path</param-name>
    <param-value>/root/framework_fileupload_path</param-value>
  </context-param>
  <filter>
    <filter-name>codeFilter</filter-name>
    <filter-class>framework.filter.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>codeFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>framework.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/view/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>framework.filter.DBStrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description>图片通用地址</description>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>framework.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户参数配置管理</description>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>framework.servlet.ConfigServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>文件通用下载</description>
    <servlet-name>FileDown</servlet-name>
    <servlet-class>framework.servlet.FileDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/view/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDown</servlet-name>
    <url-pattern>/view/FileDown</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/include/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/include/error500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>