.img {
	width: 100px;
	height: 100px; 
	border:0px solid #D1DEEA;
	background-image: url('../../../images/add.png')
}

.closediv {
	position: absolute;
	bottom: 0;	
	right: 0;
	left: 0;
	display: none;
	background-color: #606060;
	width:100%;
	margin-left: 0px;
	margin-bottom: 1px;
	text-align: left;
}

.closediv>span {
	color: white;
}

.closediv:first-child {
	padding-left: 3px;
}

.am-ucheck-icons {
	top: 2;
}

th {
	text-align:center;
	width:80px;
}

.bottomToolbar {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

#propertyEditTable th  {
	border: 1px solid #CCCCCC;
}

#propertyEditTable td {
	border: 1px solid #CCCCCC;
}

#propertyEditTable thead tr:first-child {
	height: 25px;
	background-color: #F5F5F5;
}

#propertyEditTable tbody tr {
	height: 30px;
}

#goodsChildTable th  {
	border: 1px solid #CCCCCC;
}

#goodsChildTable td {
	border: 1px solid #CCCCCC;
}

#goodsChildTable thead tr:first-child {
	height: 25px;
	background-color: #F5F5F5;
}

#goodsChildTable thead tr th:last-child {
	width:50px;
}

#addPropertyDiv {
	border: 1px solid #CCCCCC;
	width:56px;
	height:56px;
	position:relative;
	cursor:pointer;
	margin-left: 1px;
	background-color: #F6F6F6;
}

#addPropertyDiv img {
	position: absolute;
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
	margin: auto;
}

.imgDiv {
	display: inline-block;cursor: pointer;position: relative;
}